.orderMain{
    width: 80%;
    display: flex;
    margin: auto;
    /* background-color: red; */
}

.orderMain > .orderSide{
    width: 50%;
    position: relative;
    top: 90px;
    /* border: 1px solid black; */
}
.orderMain > .orderSide > h4{
    font-weight: 400;
    line-height: 0;
}
.orderMain > .orderSide > .data{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 20px 0;
    /* border: 1px solid black; */
}
.orderMain > .orderSide > .data > span:nth-child(even){
    text-align: end;
}
.orderMain > .orderSide > .placeOrder{
    border-top: 2px dashed black;
}
.orderMain > .orderSide > .placeOrder > h2{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
}
.orderMain > .orderSide > .placeOrder > button{
    width: 100%;
    padding: 8px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    background-color: #363636;
}

.orderMain >.orderFm{
    width: 100%;
    margin: auto;
    display: grid;
    gap: 20px;
    padding: 0 0 30px 0;
    /* border: 1px solid black; */
}
.orderMain >.orderFm > h1{
    font-weight: 400;
    /* padding: 10px 0; */
    border-bottom: 1px solid black;
}
.orderMain >.orderFm  > .inputBx{
    display: flex;
    width: 80%;
    gap: 10px;
    margin: auto;
    /* border: 1px solid black; */
}
.orderMain >.orderFm  > .inputBx > span{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    padding: 5px 20px;
    /* border: 1px solid black; */
}
.orderMain >.orderFm  > .inputBx > span > select,
.orderMain >.orderFm  > .inputBx > span > input{
    padding: 5px 20px;
}