.profile{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
    /* border: 1px solid black;; */
}
.profile > .account{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.profile > .profileHead > h1{
    font-weight: 400;
    padding: 10px 0;
    /* border-bottom: 1px solid black; */
}
.profile > .profileHead{
    /* border: 1px solid red; */
}

.profile > .account > .section > a > img{
    width: 100px;
}
.profile > .account > .section > a{
    /* width: 40%; */
    padding: 10px 20px;;
    display: flex;
    text-decoration: none;
    color: black;
    gap: 20px;
    border: 1px solid rgb(201, 201, 201);
}