.singleMain{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 0 50px 0;
}
.singleMain > .singleImg{
    height: 100%;
    position: sticky;
    top: 110px;
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black;; */
}
.singleMain > .singleImg > img{
    width: 50%;
    object-fit: cover;
}

.singleMain > .singleDetails{
    display: flex;
    flex-direction: column;
}
.singleMain > .singleDetails > h1{
    font-weight: 400;
    width: 90%;
    font-size: 25px;
}
.singleMain > .singleDetails > p,
.singleMain > .singleDetails > h4{
    line-height: 0;
}
.singleMain > .singleDetails > .singleQty{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.singleMain > .singleDetails > .singleQty > button{
    padding: 0 15px;
    cursor: pointer;
    background-color: #095c9d;
    border: none;
    color: white;
    border-radius: 4px;
}
.singleMain > .singleDetails > .singleQty > input[type="number"]{
    width: 80px;
    border-radius: 4px;
    border: none;
    border: 1px solid black;
    padding: 6px 10px;
}
.singleMain > .singleDetails h5{
    color: green;
    line-height: 0;
}
.singleMain > .singleDetails > .singleInputBx{
    display: flex;
    width: 70%;
    gap: 10px;
    /* border: 1px solid black; */
}
.singleMain > .singleDetails > .singleInputBx > input{
    padding: 10px 20px;
    width: 80%;
    border-radius: 4px;
    border: none;
    border: 1px solid black;;
}
.singleMain > .singleDetails > .singleInputBx > button{
    background-color: #095c9d;
    color: white;;
    border: none;
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.singleMain > .singleDetails > .singleLogo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.singleMain > .singleDetails > .singleDropdown{
    position: relative;
    height: 30px;
    width: 65%;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #ccc;
    /* line-height: 0; */
}
.singleMain > .singleDetails > .singleDropdown.active{
    height: auto;
}
.singleMain > .singleDetails > .singleDropdown.active .singleDown > span{
    opacity: 1;
}
.singleMain > .singleDetails > .singleDropdown > .singleDown > span{
    opacity: 0;
    transition: 0.5s;
}
.singleMain > .singleDetails > .singleDropdown > .singleDown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}
.singleMain > .singleDetails > .singleDropdown > .singleDown > h4{
    line-height: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
}
.singleMain > .singleDetails > .singleDropdown > .singleDown > span > h6{
    line-height: 0;
}